doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    
    meta(property="og:image",content="#{logourl}")
    title Cows and Bulls
    link(rel="stylesheet",href="/static/css/bootstrap.min.css")
    link(rel="stylesheet",href="/static/css/style.css")


  body
    div(class="container main-container")
      div(class="header")
        nav(class="navbar navbar-default")
          div(class="container-fluid")
            div(class="navbar-header")
              a(href="/",class="navbar-brand") Cows and bulls
              ul(class="nav navbar-nav navbar-right")
                li
                  a(href="/rules") Rules
                li
                  a(href="/games") Games
                li
                  a(href="/players") Players

      div(class="content")
        block content

    script(type="text/javascript",src="/static/js/ext/jquery-1.11.3.min.js")
    script(type="text/javascript",src="/static/js/ext/bootstrap.min.js")
    script(type="text/javascript",src="/static/js/ext/jquery-cookie.js")
    script(type="text/javascript",src="/static/js/main.js")
    if scripts
      each src in scripts
        script(type="text/javascript",src=src)
  
  script. 
    var BC = BC || {};
    BC.GAME_TYPE = {
      training: #{training},
      single_player: #{single_player},
      token_ring: #{token_ring},
      peer2peer: #{peer2peer}
    };

    BC.PLAYER_TYPE = {
      human: #{human},
      pc:    #{pc}
    };

    BC.COW  = #{cow};
    BC.BULL = #{bull};

    BC.DEBUG = #{D};
    BC.api = BC.api || {}
    BC.api.url = '#{apiurl}'
